.navbar{
    background-color: #6f1abd;
    justify-content: flex-end !important;
}

#navbar{
    justify-content: flex-end !important;
}

.item{
    color: white;
    text-decoration: none;
}

.navContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin:  auto;
    flex-wrap: wrap;
    background-color: blue;
}

.navContent{
    justify-content: flex-end;
}