.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}

label, input{
    font-size: 17px;
}

input, select{
    height: 20px;
}

.form-base-primary{
    margin-top: 15px;
    color: red;
}

.form-filter{
    margin-top: 15px;
    color: blue;
}

#button{
    background-color: #757BC8
}